*.o
*.lo
*.la
.deps/
.libs/
config.h
config.log
config.status
control/ipmitool.spec
control/pkginfo
control/prototype
control/rpmmacros
libtool
src/ipmievd
src/ipmitool
stamp-h1

contrib/Makefile
lib/Makefile
src/plugins/lipmi/Makefile
src/plugins/free/Makefile
src/plugins/open/Makefile
src/plugins/bmc/Makefile
src/plugins/lanplus/Makefile
src/plugins/imb/Makefile
src/plugins/lan/Makefile
src/plugins/Makefile
src/Makefile
control/Makefile
Makefile
include/ipmitool/Makefile
include/Makefile
doc/Makefile
